.search-form {
  padding-top: 80px;
}

.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__block-inputs {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  width: 81.8%;
}

.search-form__item {
  width: 100%;
}

.search-form__input {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  height: 46px;
  width: 100%;
  border-radius: 24px;
  font-size: 14px;
  line-height: 18px;
  padding-left: 21px;
  padding-right: 21px;
}

.search-form__submit {
  position: absolute;
  right: 7px;
  top: 7px;
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url('../../images/search.svg') #3456f3 no-repeat center;
}

@media screen and (max-width: 1100px) {
  .search-form__form {
    flex-direction: column;
  }

  .search-form__block-inputs {
    width: 100%;
  }

  .search-form {
    padding-top: 60px;
  }

  .search-form__input {
    padding: 0 14px;
  }
}

@media screen and (max-width: 768px) {
  .search-form__input {
    font-size: 11px;
    line-height: 18px;
  }
}
