.nav-tab {
  background-color: black;
}

.nav-tab__content {
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__link {
  border-bottom: 1px solid white;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
}

.nav-tab__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .nav-tab__link {
    font-size: 11px;
    margin-right: 25px;
  }
}
